.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 3vw;
}

.addToDo {
    font-size: calc(1em + 0.5vw);
    font-weight: bold;
    margin-bottom: 0.75vh;
}

.inputForm {
    display: flex;
    flex-direction: column;
    background-color: rgba(173, 201, 231, 0.2);
    border-radius: 10px;
    color: rgba(10, 10, 10)

}

.box {
    width: calc(1em + 50vw);
    height: calc(1em + 1.5vh);
    border-style: solid;
    border-color: rgba(200, 200, 200);
    border-width: 1px;
    border-radius: 5px;    
}

